.mt-10{
    margin-top:10px
}
.mt-15{
    margin-top:15px
}
.mt-25{
    margin-top:25px
}
.mt-30{
    margin-top:30px
}
.mt-35{
    margin-top:35px
}
.mt-40{
    margin-top:40px
}
.mt-50{
    margin-top:50px
}
.mt-60{
    margin-top:60px
}
.mt-65{
    margin-top:65px
}
.mt-150{
    margin-top:150px
}
.mb-10{
    margin-bottom:10px
}
.mb-15{
    margin-bottom:15px
}
.mb-20{
    margin-bottom:20px
}
.mb-25{
    margin-bottom:25px
}
.mb-30{
    margin-bottom:30px
}
.mb-35{
    margin-bottom:35px
}
.mb-40{
    margin-bottom:40px
}
.mb-50{
    margin-bottom:50px
}
.mb-60{
    margin-bottom:60px
}
.mb-160{
    margin-bottom:160px
}
.ml-30{
    margin-inline-start:30px
}
.mr-15{
    margin-inline-end:15px
}
.pt-30{
    padding-top:30px
}
.pt-160{
    padding-top:160px
}
.pb-30{
    padding-bottom:30px
}
.pb-160{
    padding-bottom:160px
}
.pl-30{
    padding-inline-start:30px
}
.pl-50{
    padding-inline-start:50px
}