---
// Frontmatter de Astro
import { Image } from "astro:assets";
// Import 404 image
import error404Image from "@/assets/imgs/resources/404.webp";
import logo from "@/assets/imgs/logo.png";
import CSSbase from "@/components/CSSbase.astro";
import Favicon from "@/components/Favicon.astro";
import Footer from "@/components/Footer.astro";
import Navbar from "@/components/Navbar.astro";
import Preloader from "@/components/Preloader.astro";
import Scripts from "@/components/Scripts.astro";
import SocialMeta from "@/components/SocialMeta.astro";
import Flotante from "@/components/Flotante.astro";

const site = Astro.site ?? new URL("https://macpavingandsealcoating.com");
const toAbsolute = (asset: { src: string } | string) =>
  typeof asset === "string" ? asset : new URL(asset.src, site).href;

const errorImageUrl = toAbsolute(error404Image);
const logoUrl = toAbsolute(logo);
const notFoundUrl = new URL("/404/", site).href;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="format-detection" content="telephone=no" />
    <title>MAC Paving and Sealcoating | Not Found |</title>

    <meta name="robots" content="noindex, nofollow" />
    <meta
      name="description"
      content="MAC Paving and Sealcoating provides expert asphalt paving, sealcoating, concrete, and Belgium block edging across New Jersey. Residential and commercial solutions with guaranteed quality."
    />
    <link rel="canonical" href="https://macpavingandsealcoating.com/404/" />
    <meta
      name="keywords"
      content="asphalt paving NJ, paving contractors NJ, driveway paving NJ, asphalt companies NJ, commercial paving NJ, residential paving NJ, blacktop paving NJ, asphalt resurfacing NJ, asphalt repair NJ, sealcoating NJ, pothole repair NJ, driveway resurfacing NJ, pavement maintenance NJ, asphalt paving near me NJ, asphalt paving Paterson NJ, asphalt paving Clifton NJ, asphalt paving Bergen County NJ, driveway paving Essex County NJ, custom driveway paving NJ, decorative driveways NJ, MAC Paving and Sealcoating, professional asphalt services NJ, NJ blacktop company, local asphalt contractor NJ, asphalt, contractor, NJ, driveway extension, asphalt paving, NJ"
    />
    <script type="application/ld+json">
      {JSON.stringify({
        "@context": "https://schema.org",
        "@type": "WebPage",
        name: "404 Error - Page Not Found",
        url: notFoundUrl,
        logo: logoUrl,
        image: errorImageUrl,
        description:
          "This page does not exist on MAC Paving and Sealcoating's website. Return to the homepage or explore our paving services in NJ.",
        telephone: "+1-201-755-7836",
        contactPoint: {
          "@type": "ContactPoint",
          telephone: "+1-201-755-7836",
          contactType: "Customer Service",
        },
        areaServed: [
          { "@type": "Place", name: "Clifton, NJ" },
          { "@type": "Place", name: "Wayne, NJ" },
          { "@type": "Place", name: "Fair Lawn, NJ" },
          { "@type": "Place", name: "Paramus, NJ" },
          { "@type": "Place", name: "Hackensack, NJ" },
          { "@type": "Place", name: "Teaneck, NJ" },
          { "@type": "Place", name: "Montclair, NJ" },
          { "@type": "Place", name: "Bloomfield, NJ" },
          { "@type": "Place", name: "West Orange, NJ" },
          { "@type": "Place", name: "Livingston, NJ" },
          { "@type": "Place", name: "Parsippany, NJ" },
          { "@type": "Place", name: "Totowa, NJ" },
          { "@type": "Place", name: "Little Falls, NJ" },
          { "@type": "Place", name: "Elmwood Park, NJ" },
          { "@type": "Place", name: "Garfield, NJ" },
          { "@type": "Place", name: "Lodi, NJ" },
          { "@type": "Place", name: "Saddle Brook, NJ" },
          { "@type": "Place", name: "Nutley, NJ" },
          { "@type": "Place", name: "South Orange, NJ" },
          { "@type": "Place", name: "Orange, NJ" },
          { "@type": "Place", name: "East Orange, NJ" },
          { "@type": "Place", name: "Denville, NJ" },
          { "@type": "Place", name: "Montville, NJ" },
          { "@type": "Place", name: "Boonton, NJ" },
          { "@type": "Place", name: "Mountain Lakes, NJ" },
          { "@type": "Place", name: "Florham Park, NJ" },
          { "@type": "Place", name: "West Paterson, NJ" },
          { "@type": "Place", name: "Woodland Park, NJ" },
          { "@type": "Place", name: "North Haledon, NJ" },
          { "@type": "Place", name: "Haledon, NJ" },
          { "@type": "Place", name: "Prospect Park, NJ" },
          { "@type": "Place", name: "Ridgewood, NJ" },
          { "@type": "Place", name: "Clark, NJ" },
          { "@type": "Place", name: "Pompton Lakes, NJ" },
          { "@type": "Place", name: "Bloomingdale, NJ" },
          { "@type": "Place", name: "Englewood, NJ" },
          { "@type": "Place", name: "Fort Lee, NJ" },
          { "@type": "Place", name: "Bergenfield, NJ" },
          { "@type": "Place", name: "New Milford, NJ" },
          { "@type": "Place", name: "Saddle River, NJ" },
          { "@type": "Place", name: "Glen Ridge, NJ" },
          { "@type": "Place", name: "Oradell, NJ" },
          { "@type": "Place", name: "Cedar Grove, NJ" },
          { "@type": "Place", name: "Belleville, NJ" },
          { "@type": "Place", name: "Morristown, NJ" },
          { "@type": "Place", name: "East Hanover, NJ" },
          { "@type": "Place", name: "Wallington, NJ" },
          { "@type": "Place", name: "North Caldwell, NJ" },
          { "@type": "Place", name: "Hawthorne, NJ" },
          { "@type": "Place", name: "Caldwell, NJ" },
          { "@type": "Place", name: "Kearny, NJ" },
          { "@type": "Place", name: "Lyndhurst, NJ" },
          { "@type": "Place", name: "Rutherford, NJ" },
          { "@type": "Place", name: "Secaucus, NJ" },
          { "@type": "Place", name: "Union City, NJ" },
          { "@type": "Place", name: "Westwood, NJ" },
          { "@type": "Place", name: "Jersey City, NJ" },
          { "@type": "Place", name: "Newark, NJ" },
        ],
        makesOffer: [
          {
            "@type": "Offer",
            itemOffered: {
              "@type": "Service",
              name: "Asphalt Paving Services",
            },
          },
          {
            "@type": "Offer",
            itemOffered: {
              "@type": "Service",
              name: "Driveway Paving Installation",
            },
          },
          {
            "@type": "Offer",
            itemOffered: { "@type": "Service", name: "Driveway Paving" },
          },
          {
            "@type": "Offer",
            itemOffered: {
              "@type": "Service",
              name: "Home Driveway Paving",
            },
          },
          {
            "@type": "Offer",
            itemOffered: {
              "@type": "Service",
              name: "Driveway Sealcoating Service",
            },
          },
          {
            "@type": "Offer",
            itemOffered: { "@type": "Service", name: "Belgium Block Borders" },
          },
          {
            "@type": "Offer",
            itemOffered: {
              "@type": "Service",
              name: "Crack Filling Repair",
            },
          },
          {
            "@type": "Offer",
            itemOffered: { "@type": "Service", name: "Paving Maintenance" },
          },
          {
            "@type": "Offer",
            itemOffered: {
              "@type": "Service",
              name: "Concrete Driveway Paving",
            },
          },
          {
            "@type": "Offer",
            itemOffered: {
              "@type": "Service",
              name: "Driveway Drainage Solutions",
            },
          },
        ],
      })}
    
    <Favicon />
    <SocialMeta
      title="MAC Paving and Sealcoating | Not Found"
      description="Requested page not found. Explore paving, sealcoating, and Belgium block services across North Jersey."
      url="https://macpavingandsealcoating.com/404/"
      image={error404Image}
      imageAlt="404 not found illustration for MAC Paving"
    />
    <CSSbase />
  </head>
  <body>
    <Preloader />
    <Navbar />
    <!-- Header area end -->
    <main>
      <section class="error-page section-space text-center">
        <div class="small-container">
          <div class="row">
            <div class="col-xxl-12">
              <figure class="w-img">
                <Image
                  src={error404Image}
                  alt="404 Error"
                  width={500}
                  height={400}
                  format="webp"
                />
              </figure>
              <h2 class="mt-150 mb-50">
                Whoops! This Page got <br />Lost in conversion
              </h2>
              <div class="error-btn-box">
                <a class="primary-btn-1 btn-hover" href="/">
                  Go back to home &nbsp; | <i class="fas fa-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <Footer />
    <Scripts />
    <Flotante />
  </body>
</html>
