---
import BreadcrumService from "@/components/BreadcrumService.astro";
import CSSbase from "@/components/CSSbase.astro";
import Favicon from "@/components/Favicon.astro";
import Footer from "@/components/Footer.astro";
import MapSection from "@/components/MapSection.astro";
import Navbar from "@/components/Navbar.astro";
import Preloader from "@/components/Preloader.astro";
import Scripts from "@/components/Scripts.astro";
import SocialMeta from "@/components/SocialMeta.astro";
import contactBg from "@/assets/imgs/bg/contact-cover.webp";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="format-detection" content="telephone=no" />
    <title>Service Areas | MAC Paving and Sealcoating</title>
    <meta
      name="description"
      content="See the New Jersey counties covered by MAC Paving and Sealcoating LLC, including Passaic, Bergen, Morris, Essex, Hudson, Union, Middlesex, Somerset, and Sussex."
    />
    <link rel="canonical" href="https://macpavingandsealcoating.com/services-areas/" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <Favicon />
    <SocialMeta
      title="Service Areas | MAC Paving and Sealcoating"
      description="Passaic, Bergen, Morris, Essex, Hudson, Union, Middlesex, Somerset, and Sussex counties covered by MAC Paving and Sealcoating LLC."
      url="https://macpavingandsealcoating.com/services-areas/"
      image="https://macpavingandsealcoating.com/assets/imgs/bg/contact-cover.webp"
      imageAlt="Map background highlighting MAC Paving service counties"
    />
    <CSSbase />
  </head>
  <body>
    <Preloader />
    <Navbar />
    <main>
      <div class="breadcrumb__area theme-bg-1 p-relative pt-160 pb-160">
        <BreadcrumService image={contactBg} />
        <div class="small-container">
          <div class="row justify-content-center justify-content-md-start">
            <div class="col-9 col-sm-9 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
              <div class="breadcrumb__wrapper p-relative">
                <h1 class="breadcrumb__title">Service Areas</h1>
                <div class="breadcrumb__menu">
                  <nav>
                    <ul>
                      <li>
                        <span><a href="/">Home / </a></span>
                      </li>
                      <li><span>Service Areas</span></li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <MapSection />
    </main>
    <Footer />
    <Scripts />
  </body>
</html>
