---
import serviceWidget from "@/assets/imgs/logo/service-widget-1.webp";
---

<div class="col-xxl-4 col-xl-4 col-lg-4">
  <div class="service-sidebar">
    <aside>
      <div class="service-widget-1 mb-160">
        <h5>Paving Service Menu</h5>
        <ul>
          <li>
            <a href="/services/paving-services-nj/">
              <span>Paving Services</span>
              <span><i class="icon-arrow-right-double"></i></span>
            </a>
          </li>
          <li>
            <a href="/services/sealer-services-nj/">
              <span>Sealer</span>
              <span><i class="icon-arrow-right-double"></i></span>
            </a>
          </li>
          <li>
            <a href="/services/belgium-blocks/">
              <span>Belgium Blocks</span>
              <span><i class="icon-arrow-right-double"></i></span>
            </a>
          </li>
        </ul>
      </div>
      <div class="contact-box mb-160">
        <div class="service-widget-2">
          <figure class="w-img">
            <img
              src={serviceWidget.src}
              alt="MAC Paving and Sealcoating"
            />
            <div style="margin-bottom: 25px"></div>
          </figure>
          <div class="content bg-color-1 text-center">
            <div class="icon-box p-relative">
              <i class="fa-brands fa-whatsapp"></i>
            </div>
            <h5>Chat with a Paving Estimator</h5>
            <div class="btn-box">
              <a
                class="primary-btn-1 btn-hover"
                href="https://wa.me/12017557836"
                target="_blank"
              >
                Click Here
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="service-widget-1 mb-10">
        <h5 class="section-title mt-10">Booking Schedule</h5>
      </div>
      
      <!-- Google Calendar Appointment Scheduling begin -->
<iframe src="https://calendar.google.com/calendar/appointments/schedules/AcZssZ2f2-a8hsmFRdKAdT1bvjgeib5aUhRroNwmyM-fq0U3_9Y7cAp5Qw3vk9NztACX34Ggtqf1JxI-?gv=true" style="border: 0" width="100%" height="600" frameborder="0"></iframe>
<!-- end Google Calendar Appointment Scheduling -->
    </aside>
  </div>
</div>
