---
import { Image } from "astro:assets";
import logo from "@/assets/imgs/logo.webp";
import GoogleCalendarButton from "./GoogleCalendarButton.astro";
---


<!-- Offcanvas area start -->
<div class="fix">
  <div class="offcanvas__info">
    <div class="offcanvas__wrapper">
      <div class="offcanvas__content">
        <div
          class="offcanvas__top mb-40 d-flex justify-content-between align-items-center"
        >
          <div class="offcanvas__logo">
            <a href="/">
              <span class="sr-only"
                >Go to MAC Paving and Sealcoating homepage</span
              >
              <Image
                src={logo}
                alt="MAC Paving and Sealcoating"
                loading="eager"
                width={500}
                height={250}
              />
            </a>
          </div>
          <div class="offcanvas__close">
            <button aria-label="Close menu">
              <i class="fas fa-times" aria-hidden="true"></i>
            </button>
          </div>
        </div>
        <div class="offcanvas__search mb-25" hidden>
          <p class="text-white">
            <strong>Transform Your Surfaces!</strong><br />
            <br />
            <em>Quality Is Our Priority</em>
          </p>
        </div>
        <div class="mobile-menu fix mb-40"></div>
        <div class="offcanvas__contact mt-30 mb-20">
          <h4 id="contact-info-heading" aria-label="Contact Information">
            Contact Info
          </h4>
          <ul aria-labelledby="contact-info-heading">
            <li class="d-flex align-items-center">
              <div class="offcanvas__contact-icon mr-15">
                <i class="fas fa-phone" aria-hidden="true"></i>
              </div>
              <div class="offcanvas__contact-text">
                <a
                  href="tel:+12017557836"
                  aria-label="Call MAC Paving at (201) 755-7836"
                  >(201) 755-7836</a
                >
              </div>
            </li>
            <li class="d-flex align-items-center">
              <div class="offcanvas__contact-icon mr-15">
                <i class="fas fa-envelope" aria-hidden="true"></i>
              </div>
              <div class="offcanvas__contact-text">
                <a
                  href="mailto:mg@macpavingandsealcoating.com"
                  aria-label="Email MAC Paving at mg@macpavingandsealcoating.com"
                >
                  <span>mg@macpavingandsealcoating.com</span>
                </a>
              </div>
            </li>
          </ul>
        </div>
        <div class="offcanvas__social mt-65">
          <ul>
            <li>
              <a
                href="https://www.facebook.com/macpavingandsealcoating/"
                target="_blank"
                aria-label="MAC Paving Facebook"
              >
                <i class="fa-brands fa-facebook-f" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a
                href="https://www.instagram.com/macpavingandsealcoating/"
                target="_blank"
                aria-label="MAC Paving Instagram"
              >
                <i class="fa-brands fa-instagram" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="offcanvas__overlay"></div>
<div class="offcanvas__overlay-white"></div>
<!-- Offcanvas area start -->

<!-- Header area start -->
<header>
  <div class="container-fluid bg-color-1">
    <div class="header-top">
      <div class="header-top-contact-info">
        <span class="email p-relative">
          <a
            href="mailto:mg@macpavingandsealcoating.com"
            aria-label="Email MAC Paving at mg@macpavingandsealcoating.com"
          >
            mg@macpavingandsealcoating.com
          </a>
        </span>
      </div>
      <div class="header-top-socials">
        <span>
          <a
            href="https://www.facebook.com/macpavingandsealcoating/"
            target="_blank"
            aria-label="MAC Paving Facebook"
          >
            <i class="fa-brands fa-facebook-f" aria-hidden="true"></i>
          </a>
        </span>
        <span>
          <a
            href="https://www.instagram.com/macpavingandsealcoating/"
            target="_blank"
            aria-label="MAC Paving Instagram"
          >
            <i class="fa-brands fa-instagram" aria-hidden="true"></i>
          </a>
        </span>
      </div>
    </div>
  </div>

  <div id="header-sticky" class="header-area">
    <div class="large-container">
      <div class="mega-menu-wrapper">
        <div class="header-main">
          <div class="header-left">
            <div class="header-logo">
              <a href="/">
                <span class="sr-only"
                  >Go to MAC Paving and Sealcoating homepage</span
                >
                <Image
                  src={logo}
                  alt="MAC Paving and Sealcoating"
                  loading="eager"
                  fetchpriority="high"
                  width={500}
                  height={250}
                  widths={[150, 175, 220]}
                  sizes="(max-width: 450px) 150px, (max-width: 991px) 175px, 220px"
                />
              </a>
            </div>
          </div>

          <div class="header-right d-flex justify-content-end">
            <div class="mean__menu-wrapper d-none d-lg-block">
              <div class="main-menu">
                <nav
                  id="mobile-menu"
                  aria-label="Main Navigation"
                  role="navigation"
                >
                  <ul role="menubar">
                    <li class="has-dropdown" role="none">
                      <a
                        role="menuitem"
                        href="/"
                        aria-current="page"
                        aria-haspopup="true"
                        aria-expanded="false"
                        aria-label="Home page"
                      >
                        Home
                      </a>
                      <ul class="submenu" role="menu">
                        <li role="none">
                          <a role="menuitem" href="/" aria-label="Home">Home</a>
                        </li>
                        <li role="none">
                          <a
                            role="menuitem"
                            href="/services/"
                            aria-label="View all services"
                            >Services</a
                          >
                        </li>
                        <li role="none">
                          <a
                            role="menuitem"
                            href="/services-areas/"
                            aria-label="Service Areas across North Jersey"
                            >Service Areas</a
                          >
                        </li>
                      </ul>
                    </li>
                    <li class="has-dropdown" role="none">
                      <a
                        role="menuitem"
                        href="/services/paving-services-nj/"
                        aria-haspopup="true"
                        aria-expanded="false">Paving Services</a
                      >
                      <ul class="submenu" role="menu">
                        <li role="none">
                          <a
                            role="menuitem"
                            href="/services/paving-services-nj/driveway-installation/"
                            aria-label="Driveway Paving Installation"
                            >Driveway Installation</a
                          >
                        </li>
                        <li role="none">
                          <a
                            role="menuitem"
                            href="/services/paving-services-nj/driveway-resurfacing/"
                            aria-label="Driveway Paving Resurfacing"
                            >Driveway Resurfacing</a
                          >
                        </li>
                        <li role="none">
                          <a
                            role="menuitem"
                            href="/services/paving-services-nj/driveway-replacement/"
                            aria-label="Driveway Paving Replacement"
                            >Driveway Replacement</a
                          >
                        </li>
                        <li role="none">
                          <a
                            role="menuitem"
                            href="/services/paving-services-nj/driveway-extension/"
                            aria-label="Driveway Paving Extension">Driveway Extension</a
                          >
                        </li>
                      </ul>
                    </li>
                    <li class="has-dropdown" role="none">
                      <a
                        role="menuitem"
                        href="/services/sealer-services-nj/"
                        aria-haspopup="true"
                        aria-expanded="false">Sealer</a
                      >
                      <ul class="submenu" role="menu">
                        <li role="none">
                          <a
                            role="menuitem"
                            href="/services/sealer-services-nj/sealcoating/"
                            aria-label="Sealcoating Services">Sealcoating</a
                          >
                        </li>
                        <li role="none">
                          <a
                            role="menuitem"
                            href="/services/sealer-services-nj/crack-filling/"
                            aria-label="Crack Filling Services">Crack Filling</a
                          >
                        </li>
                        <li role="none">
                          <a
                            role="menuitem"
                            href="/services/sealer-services-nj/line-striping/"
                            aria-label="Line Striping Services">Line Striping</a
                          >
                        </li>
                      </ul>
                    </li>
                    <li role="none">
                      <a
                        role="menuitem"
                        href="/services/belgium-blocks/"
                        aria-label="Belgium Blocks Services"
                        >Belgium Blocks</a
                      >
                    </li>
                    <li role="none">
                      <a
                        role="menuitem"
                        href="/contact/"
                        aria-label="Contact Page">Contact</a
                      >
                    </li>
                  </ul>
                </nav>
              </div>
            </div>

            <!-- Google Calendar Appointment Scheduling begin -->
            <div class="header-action d-none d-xl-inline-flex gap-5">
              <div class="header-link">
                <GoogleCalendarButton
                  text="Get a Free Quote!"
                  className="primary-btn-1 btn-hover"
                  ariaLabel="Schedule an appointment with MAC Paving"
                />
              </div>
            </div>
            <!-- Google Calendar Appointment Scheduling end -->
            <div class="header__hamburger d-xl-none my-auto">
              <div class="sidebar__toggle">
                <button class="bar-icon" aria-label="Toggle mobile menu">
                  <i class="fas fa-bars" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Header area end -->
