---
import shape15 from "@/assets/imgs/shapes/shape-15.webp";
---

<section
  class="choose-section bg-color-1 section-space-top section-space-bottom p-relative"
>
  <div class="shape-image" data-background={shape15.src}>
  </div>
  <div class="small-container">
    <div class="row g-4 justify-content-center text-center">
      <div class="col-12">
        <div class="title-box mb-50 wow fadeInLeft" data-wow-delay=".5s">
          <span class="section-sub-titledos">PAVING WITH PURPOSE</span>
          <h3 class="section-title mt-50 mb-50">
            Quality Paving Built for North Jersey
          </h3>
        </div>
      </div>
    </div>
    <div class="row g-4">
      <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <!-- block -->
        <div
          class="choose-area-icon-box mb-15 wow fadeInRight"
          data-wow-delay=".5s"
        >
          <div class="icon-box p-relative">
            <i class="fa fa-road"></i>
          </div>
          <div class="content">
            <h5>Precision Asphalt Paving</h5>
            <p>
              Laser-guided grading, reinforced stone bases, and multiple
              compaction passes produce smooth driveways and lots that stand up
              to freeze-thaw cycles.
            </p>
          </div>
        </div>
        <hr />
        <!-- block -->
        <div
          class="choose-area-icon-box mb-15 wow fadeInRight"
          data-wow-delay=".7s"
        >
          <div class="icon-box p-relative">
            <i class="fa fa-cogs"></i>
          </div>
          <div class="content">
            <h5>Design-Forward Solutions</h5>
            <p>
              Decorative aprons, Belgium blocks, and stone borders are tailored
              to match each property's style and traffic pattern.
            </p>
          </div>
        </div>
        <hr />
      </div>
      <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <!-- block -->
        <div
          class="choose-area-icon-box mb-15 wow fadeInRight"
          data-wow-delay=".9s"
        >
          <div class="icon-box p-relative">
            <i class="fa fa-wrench"></i>
          </div>
          <div class="content">
            <h5>Complete Paving & Maintenance</h5>
            <p>
              One partner handles installations, resurfacing, sealcoating,
              crack-filling, line striping, edging, and extensions.
            </p>
          </div>
        </div>
        <hr />
        <!-- block -->
        <div
          class="choose-area-icon-box mb-15 wow fadeInRight"
          data-wow-delay="1.1s"
        >
          <div class="icon-box p-relative">
            <i class="fa fa-tools"></i>
          </div>
          <div class="content">
            <h5>Transparent Communication</h5>
            <p>
              Detailed estimates, scheduling updates, and maintenance guides
              keep homeowners, HOAs, and facility managers informed.
            </p>
          </div>
        </div>
        <hr />
      </div>
    </div>
  </div>
</section>
<!-- Choose area end -->
